{% extends 'base.html' %}

{% block body %}

<html>
  
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}



</style>
</head>
<body class="w3-black">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
  <h1><b>Food Insecurity</b></h1>
  </header>

<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <img src="https://c.files.bbci.co.uk/642E/production/_116564652_mediaitem116564651.jpg" alt="HUNGER" style="width:100%">
    <div class="w3-container">
      <h3><b>Whats Food Insecurity?</b></h3>
      </div>

    <div class="w3-container">
      <p>In a critical state of no reliable source of an efficient amount of nutritional foods. Those who experience being food insecure often develop both mental and physical health problems such as obesity, heart disease, diabetics, an increase of aggression, and anxiety; in which many could become fatal overtime.</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          
        </div>
        <div class="w3-col m4 w3-hide-small">
          
        </div>
      </div>
    </div>
  </div>
  <hr>

  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
  <img src="https://pbs.twimg.com/media/Ekyg3QPW0AAkdPC.jpg" alt="" style="width:100%">
    <div class="w3-container">
      <h3><b>Who is impacted?</b></h3>
    </div>

    <div class="w3-container">
      <p>
        <li>9% of the world population around 697 million people</li> 
          <li>38 million people in the US are food insecure( including 12 million children)</li> 
         <li>On average most households that are food insecure - suffer for around seven months out of the year.</li> 
      </p>
     <h4><b>Whats the common cause?</b></h4>
     <p>
       <li>Poverty, unemployment, low income</li>
       <li>Lack of affordable housing.</li> 
        <li>Systemic racism and racial discrimination</li>
        <li>Wars and conflicts</li>
      </p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          
        </div>
        <div class="w3-col m4 w3-hide-small">
         
        </div>
      </div>
    </div>
  </div>
<!-- END BLOG ENTRIES -->
</div>

<!-- Introduction menu -->
<div class="w3-col l4">
  <!-- About Card -->
  <div class="w3-card w3-margin w3-margin-top">
    <div class="w3-container w3-white">
     
 
  <!-- Labels / tags -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Countries Affected</h4>
    </div>
    <div class="w3-container w3-white">
    <p><span class="w3-tag w3-light-grey w3-small w3-margin-bottom"><a href="https://omnatigray.org/">Tigray Region(Ethiopia)</a></span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom"><a href="https://www.concernusa.org/story/hunger-in-drc-worlds-largest-food-crisis/#:~:text=The%20DRC%20has%20been%20named%20the%20world's%20biggest%20food%20crisis&text=From%20our%20most%20recent%20Global,89.56%20million%20adults%20and%20children.">Democratic Republic of Congo</a></span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom"><a href="https://www.wfpusa.org/countries/haiti/">Haiti</a></span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom"><a href="https://www.ifrc.org/emergency/somalia-hunger-crisis-2021">Somalia</a></span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom"><a href="https://news.un.org/en/story/2021/11/1106132  ">Madagascar</a></span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom"><a href="https://www.wfp.org/countries/sierra-leone#:~:text=Around%205.1%20million%20Sierra%20Leoneans,Food%20Security%20Monitoring%20System%20report">Sierra Leone</a></span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom"><a href="https://www.wfp.org/emergencies/yemen-emergency">Yemen</a></span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom"><a href = "https://www.actionagainsthunger.org/countries/africa/liberia#:~:text=In%20Liberia%2C%201.6%20million%20people,drinking%20water%20and%20sanitation%20services">Liberia</a></span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom"><a href="https://news.un.org/en/story/2022/03/1113982#:~:text=A%20staggering%2095%20per%20cent,that%20it%20is%20almost%20inconceivable">Afghanistan</a></span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom"><a href="https://www.worldbank.org/en/news/press-release/2021/06/29/republique-centrafricaine-la-banque-mondiale-renforce-la-lutte-contre-insecurite-alimentaire-et-nutritionnelle#:~:text=The%20Central%20African%20Republic%20is,and%20exceeds%20the%2030%25%20average">Cental African Republic</a></span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom"><a href="https://www.actionagainsthunger.org/countries/africa/nigeria">Nigeria</a></span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom"><a href="https://reliefweb.int/report/syrian-arab-republic/11-years-conflict-syria-threat-hunger-has-never-been-higher#:~:text=An%20estimated%2012.4%20million%20people,Syria%20faces%20multiple%2C%20interlinked%20crises">Syria</a></span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom"><a href="https://www.globalhungerindex.org/chad.html#:~:text=In%20the%202021%20Global%20Hunger,of%20hunger%20that%20is%20alarming">Chad</a></span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom"><a href="https://news.un.org/en/story/2022/03/1113802#:~:text=More%20than%2070%20percent%20of,(WFP)%20warned%20on%20Friday">South Sudan</a></span>
    </p>
    </div>
  </div>
  
<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>


</body>
</html>

{% endblock %}
